/* CSS Reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* color:White; */
  
}

html, body{
    height: 100%;
    width:100%;
}

/* Css Variables */
:root{
    --primary : #0d6efd;
    /* --primary: #ffc107; */
}

/* Css */
.nav-link, .nav-link .btn{
    margin:0 10px;
}

.overlay{
    height:92vh;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.712);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1rem;
    color:white;
}

#landing{
    z-index:1;
    background-image: url("../images/LandingBg.jpg");
    height:92vh;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#landing #head{
    text-transform: uppercase;
    color:var(--primary);
    font-size: 3rem;
    font-weight: bold;
}

h2{
    color: #0d6efd;
}

/* section for more about code adapt */
.learn a{
    text-decoration: none; 
    color: rgb(54, 53, 53)!important;
     transition: .1s;
     font-size: 18px!important;
  }
  .navbar{
    z-index: 1!important;
    /* position: relative; */
  }
  .learn a:hover{
   
     border-bottom: 2px solid rgb(126, 124, 124);
     color: rgb(67, 69, 70);
  }

  .row .tp{
    text-align: center;
 width: 83%;
 }
 .prot{
   font-weight: 200;
   font-size: 35px;
 }
 .rot{
   font-size: 20px;

 }
 .ty{
   text-align: right!important;
 }
 .tl{
   text-align: left!important;
 }

 .mpl{
   padding-top: 160px;
 }
 .about-image{
   min-width: 100;
   height: 30px;
 }

/* footer */
.sie{
    background-color: #222;
    color: aliceblue;
}

/* timeline  */
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900);
html {
  --background: #212226;
  --primary: #00af41;
  --line: #a6a7b5;
}

/* body {
  background: var(--background);
  font-family: Montserrat;
  letter-spacing: 0.08em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

article {
  padding: 0.25rem 0.5rem 0 1rem;
  background: var(--background);
}

dl {
  display: grid;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-template-rows: auto auto;
}
dl .cell {
  grid-column: span 2;
  display: flex;
  padding: 0 1rem;
}
dl .cell:nth-child(2) {
  grid-column: span 3;
  justify-content: flex-end;
}
dl .cell .cell-content {
  display: inline-flex;
  flex-direction: column;
  border-left: 1px dashed var(--line);
  position: relative;
  background: var(--background);
}
dl .cell .cell-content::after {
  content: "";
  display: block;
  background: var(--line);
  height: 0.5rem;
  width: 0.5rem;
  position: absolute;
  left: -0.25rem;
  border-radius: 50%;
}
dl .cell .cell-content dt {
  background: var(--background);
  color: var(--primary);
  padding-bottom: 0.25em;
  position: relative;
  left: -0.25rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}
dl .cell .cell-content dd {
  background: var(--background);
  margin: 0;
  position: relative;
  left: -0.25rem;
  color: #f4f4f6;
}
dl .cell:nth-child(odd) .cell-content {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--line);
}
dl .cell:nth-child(odd) .cell-content::after {
  bottom: -0.25rem;
}
dl .cell:nth-child(odd) .cell-content dd:last-child {
  padding-bottom: 0.5rem;
}
dl .cell:nth-child(even) .cell-content {
  padding-top: 1rem;
  position: relative;
  top: -1px;
  border-top: 1px solid var(--line);
}
dl .cell:nth-child(even) .cell-content::after {
  top: -0.25rem;
}
dl .cell:nth-child(even) .cell-content dt {
  padding-top: 0.5rem;
}
dl .cell:nth-child(even) .cell-content dd {
  flex-grow: 1;
}
dl .cell:last-child .cell-content {
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.timeline{
  margin-left: 32%;
  margin-right: 32%;
}

/* testimonial */
/* body,
html {
  width:100%;
  height:100%;
}

body {
  margin:0;
  font-size:100%;
  background:rgba(14, 24, 33, 0.95);
  font-family:'Sentinel A', 'Sentinel B', Georgia, serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
/* } */

.wrapper {
  position:relative;
  transform:translateY(-50%);
  top:50%;
  margin: 0 auto;
  width:75%;
  /* overflow:hidden; */
}

.wrapper p {
  position:absolute;
  left:100%;
  width:100%;
  font-size:2em;
  /* color:#ffffff; */
  top:0;
  cursor:pointer;
  opacity:0;
  transition:left 1.4s, opacity .5s ease;
}

.wrapper p.activeText {
  position:relative;
  left:0;
  opacity:1;
}

.wrapper p.slideLeft {
  left:-100%;
  opacity:0;
}

.wrapper p:before {
  content:"\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

.wrapper p:after {
  content:"\201D";
  font-size: 3em;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.45em;
}

ul {
  margin:0;
  padding:0;
  text-align:center;
}

ul li {
  list-style:none;
}
.dot {
  width:10px;
  height:10px;
  border-radius:100px;
  background:#7f8c8d;
  display:inline-block;
  /* text-lign:center; */
  cursor:pointer;
}

/* .active {
  background:#ecf0f1;
} */





@media (max-width: 991.98px) { 
    .ty,.tl{
 text-align: center!important; }
 }